
DB_NAME="default"
DB_TYPE="postgres"
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="balsa"
DB_PASSWORD="balsa"
DB_DATABASE_NAME="balsa"

SERVER_DOMAIN="localhost"
CLIENT_DOMAIN="localhost"
SERVER_PORT=3000
CLIENT_PORT=80
SSL=false

UPLOADS_DIR="uploads"
ACCESS_LOG_PATH=logs/server/access.log

SMTP_SERVICE_HOST=""
SMTP_SERVICE_PORT=465
SMTP_SERVICE_SECURE=true
SMTP_SERVICE_DEBUG=false
SMTP_SERVICE_USER_NAME=""
SMTP_SERVICE_USER_PASSWORD=""
SMTP_DEFAULT_FROM_EMAIL=""