Hey {{ user.firstName }} !

We are thrilled to see you joining Balsa!

We have built Balsa because the world needed a privacy and security focusing knowledgebase. We are grateful to the people like you to try Balsa out and provide your valuable thoughts with us - thank you again!

Great people and teams like you use Balsa for:

- Onboarding and howtos
- Tasks and documents
- In-company knowledgebase
- Sharing smart ideas

This email is intended to give you an idea of what Balsa is all about, and we welcome you to dig in further and create your own knowledgebase.

Cheers !
Balsa Team
